body {
  background-image: linear-gradient(to bottom, #0b3140, #068698);
  height: 100%;
  font-family: "Jura";
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 1.3rem;
  overflow: hidden; }

h1 {
  font-variant: small-caps; }

.pop-up .content {
  position: relative;
  background-color: #06222f;
  margin: 0 auto;
  width: 60%;
  height: 50%;
  margin-top: 10%;
  border-radius: 50px;
  padding: 2px 0; }
  .pop-up .content p {
    font-size: 2rem; }
  .pop-up .content button {
    position: absolute;
    margin: 0 auto;
    bottom: 30px;
    margin-left: -100px; }

#start {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.95);
  display: block; }
  #start .content {
    margin-top: 10%;
    height: 38%; }

#gameover {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.95);
  display: none; }
  #gameover .yourScore {
    color: #eac80e;
    text-shadow: 0 0 2px #f0e39c;
    margin-top: 50px;
    animation: glow 1s infinite alternate; }

#game {
  width: 80%;
  margin: 5% auto;
  background-color: #06222f;
  border-radius: 30px;
  padding: 3%;
  position: relative; }
  #game #game-info {
    height: 80px;
    padding: 18px; }
    #game #game-info .timer-container {
      width: 80%;
      height: 26px;
      float: left;
      margin-top: 30px; }
      #game #game-info .timer-container .timer {
        width: 100%;
        height: 26px;
        background-image: linear-gradient(to right, #a70352 300px, #eac80e);
        transition: width 1.5s;
        padding: 2px;
        color: #eac80e; }
    #game #game-info .points {
      position: absolute;
      right: 5%;
      font-size: 1.4rem;
      color: #fff;
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 50%;
      padding: 20px;
      background-color: #068698;
      border: 5px solid #eac80e;
      transition: all .5s; }
      #game #game-info .points.right {
        background-color: #eac80e;
        transform: scale(1.1); }
      #game #game-info .points.wrong {
        background-color: #a70352;
        transform: scale(1.1); }
      #game #game-info .points .description {
        font-size: .9rem;
        margin-top: -5px; }
      #game #game-info .points .value {
        font-size: 2.2rem;
        font-weight: bold;
        margin-top: -5px; }

button {
  width: 200px;
  height: 60px;
  border: none;
  font-family: "Jura";
  font-size: 1.6rem;
  cursor: pointer;
  transition: all .2s;
  color: #06222f;
  background-color: #eac80e; }
  button:hover {
    background-color: #068698; }

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .8s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 .5rem black; }

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #eac80e; }

.playing {
  transform: scale(1.1);
  border-color: #eac80e;
  box-shadow: 0 0 1rem #eac80e; }

#sequence {
  margin-left: 20px;
  padding-bottom: 60px;
  width: 80%; }

.element {
  font-size: 2.2rem;
  color: #ffffff;
  text-shadow: 0 0 2px #f0e39c;
  list-style-type: none;
  float: left;
  width: 80px;
  height: 60px;
  padding: 10px;
  text-align: center; }

#answer {
  width: 100%;
  margin: 0 auto;
  padding: 0; }
  #answer input {
    width: 192px;
    height: 50px;
    background: none;
    color: #eac80e;
    font-size: 2rem;
    font-family: "Jura";
    text-align: center;
    border: 2px solid #eac80e;
    display: block;
    clear: both;
    margin: 4% auto; }
  #answer button {
    display: block;
    margin: 4% auto; }

@keyframes glow {
  to {
    text-shadow: 0 0 4px #fffdf1; } }

/*# sourceMappingURL=main.css.map */
